@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  /* ~~~ footer ~~~ */
  .mob-menu-tel {
    font-size: 36px;
  }
  /* ~~~ mob-menu ~~~ */
  .mob-menu-social-list {
    gap: 56px;
  }
  /* ~~~ features ~~~ */
  .features-subtitle {
    font-size: 36px;
  }

  .features-text {
    font-size: 16px;
  }

  /* ~~~ doing ~~~ */
  /* ~~~~~~~~~~~~~~~~~ team ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  /* ~~~ portfolio-list ~~~ */
  .list-subtitle {
    font-size: 20px;
  }
  .list-text {
    font-size: 16px;
  }

  /* ~~~ footer ~~~ */
  .subscribe-mail {
    padding: 0;
  }

  /* ~~~ modal ~~~ */
  .modal {
    width: 396px;
    margin: 0;
  }
  .modal-title {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
  }
  .input-text {
    font-size: 12px;
    line-height: 1.33;
  }
  .input-wrap {
    height: 40px;
  }
  .modal-input {
    height: 40px;
  }
  .modal-message {
    height: 120px;
    font-size: 12px;
    line-height: 1.33;
  }
  .check-text {
    font-size: 12px;
    line-height: 1.33;
  }
  .check-text-span {
    font-size: 12px;
    line-height: 1.33;
  }
  .submit-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
