:root {
  --background-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --titl-color: #2e2f42;
  --text-color: #434455;
  --success-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ utilities ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: inherit;
  align-items: inherit;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--titl-color);
  text-decoration: none;
}

.header-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
}

.header-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 76px;
  gap: 40px;
}

.header-item {
  list-style: none;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--titl-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

.header-item > .current {
  position: relative;
  color: var(--pressed-state-color);
}

.header-item > .current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.header-address {
  display: flex;
  margin-left: auto;
}

.header-address > .list {
  margin-top: 0;
  margin-bottom: 0;
}

.header-address > .item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
}

.header-address .item + .item {
  margin-left: 40px;
}

.header-address .mail {
  font-style: normal;
  color: var(--text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address .mail:is(:hover, :focus) {
  color: var(--primary-brand-color);
}

.header-address .tel {
  font-style: normal;
  color: var(--text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address .tel:is(:hover, :focus) {
  color: var(--primary-brand-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ hero ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  text-align: center;
  border-color: var(--titl-color);
  background-image: linear-gradient(
      to right,
      var(--hero-background-color),
      var(--hero-background-color)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.hero-btn {
  margin-top: 48px;
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:focus, :hover) {
  background-color: var(--pressed-state-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ features ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.features {
  padding: 120px 0;
  background: var(--background-color);
}

.features-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  gap: 24px;
}

.features-icon {
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  border-radius: 4px;
}

.features-item {
  list-style: none;
  max-width: 264px;
}

.features-subtitle {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titl-color);
}

.features-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ doing ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.doing {
  padding-bottom: 120px;
  background: var(--background-color);
}

.doing-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--titl-color);
}

.doing-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
  gap: 24px;
}

.doing-img {
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--accent-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ team ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.team {
  padding: 120px 0;
  background-color: var(--light-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--titl-color);
}

.team-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
  gap: 24px;
}

.team-item {
  background: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.team-posinfo {
  padding: 32px 16px;
}

.team-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titl-color);
}

.team-text {
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-brand-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--light-color);
}

.social-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ customers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titl-color);
}
.customers-list {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  margin-top: 72px;
  gap: 24px;
}
.customers-item {
  display: flex;
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: var(--subtle-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--pressed-state-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--pressed-state-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PORTFOLIO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  background-color: var(--background-color);
}

.filter {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
}

.filter-btn {
  padding: 12px 24px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover {
  color: var(--background-color);
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ~~~~~~~~~~~~~~~~~~~ Portfolio list ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 72px;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(+100%);
  width: 360px;
  height: 300px;
  padding: 40px 32px 164px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:is(:hover, :focus) .item-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-box {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titl-color);
}

.list-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--titl-color);
}

.footer-position {
  display: flex;
}

.webstudio {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--light-color);
  text-decoration: none;
}

.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.soc-media {
  margin-left: 120px;
}
.soc-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.soc-media-list {
  display: flex;
  list-style: none;
  margin-top: 16px;
  gap: 16px;
}
.soc-media-item {
  width: 40px;
  height: 40px;
}
.soc-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-media-icon {
  fill: var(--light-color);
}

.soc-media-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer subscribe ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.subscribe {
  margin-left: 80px;
  width: 453px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.subscribe-form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-mail {
  display: flex;
  margin-right: 24px;
}

.email {
  display: flex;
  border-style: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 264px;
  height: 40px;
  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 24px;

  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:focus, :hover) {
  background-color: var(--pressed-state-color);
}
.subscribe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ modal window ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1);
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);

  opacity: 1;

  transition-property: scale, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  transform: scale(1.1);
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  padding: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #000000;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
  fill: #ffffff;
  background-color: var(--pressed-state-color);
  border: 4px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  margin-top: 48px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--titl-color);
}

.modal-field {
  margin-bottom: 8px;
}

.input-text {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.input-wrap {
  position: relative;
  width: 100%;
  height: 40px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: #fcfcfc;

  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--primary-brand-color);
}

.modal-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  background: #fcfcfc;
  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.modal-field-check {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 16px;
}

.check-text {
  display: flex;
  align-items: center;
  text-align: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.check-text > .check-span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--titl-color);
  border-radius: 2px;
  fill: transparent;

  transition-property: background-color, border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text > .check-span {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  fill: var(--light-color);
}

.check-text-span {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
}

.submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  padding: 16px 32px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:is(:focus, :hover) {
  background-color: var(--pressed-state-color);
}

.submit-text {
  width: 105px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
}
